.component-header {
	position: absolute;
	color: white;
	padding: 0 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	pointer-events: none;
}

.component-header h1 {
	margin: 0;
}

.top {
	display: flex;
	flex-direction: row-reverse;
}

.bottom {
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: calc(100% - 20px);
	bottom: 0px;
}