.component-active-upgrades {
	position: absolute;
	color: white;
	display: flex;
	flex-direction: row;
}

.component-upgrade {
	height: 50px;
	width: 50px;
	background-color: skyblue;
	border: 4px solid pink;
	font-size: .7em;
}