.component-app {
  height: 100vh;
}

.view {
  height: 45%;
  position: relative;
  user-select: none;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: calc(55% - 40px);
	width: calc(100% - 20px);
	padding: 10px;
	background-color: #05ffa1;
}

.title {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: .25em 0;
}
