.component-app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

.left-sidebar {
  width: 15%;
}

.view {
  height: 100%;
  position: relative;
  user-select: none;
  cursor: pointer;
}

.right-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #05ffa1;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .view {
    width: calc(100% - 15% - 128px);
  }

  .right-sidebar {
    width: 128px;
    min-width: 128px;
  }
}

@media screen and (min-width: 800px) {
  .view {
    width: calc(100% - 15% - 248px);
  }

  .right-sidebar {
    width: 248px;
    min-width: 248px;
  }
}

@media screen and (min-width: 1400px) {
  .view {
    width: calc(100% - 15% - 368px);
  }

  .right-sidebar {
    width: 368px;
    min-width: 368px;
  }
}

.title {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding: .25em 0;
}