.component-item {
	height: 110px;
	width: 110px;
	margin: 4px;
	border: 1px black solid;
	user-select: none;
}

.available:hover {
	background-color: aqua;
}

.available {
	background-color: aquamarine;
}

.temp-unavailable {
	background-color: darkgray;
}

.unavailable {
	background-color: gray;
}

.item-container {
	height: 100%;
	width: 100%;
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	position: relative;
}

.item-container img {
	height: 90px;
	width: 90px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.item-name {
	position: absolute;
	padding: 3px;
	bottom: 0;
	left: 0;
	font-size: 1em;
	font-weight: bold;
	color: white;
}

.item-cost {
	position: absolute;
	padding: 1px;
	top: 0;
	right: 0;
}