.component-item {
	height: 120px;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 4px;
	border: 1px black solid;
	user-select: none;
	position: relative;
}

.component-item:hover {
	background-color: aqua;
}

.item-name {
	position: absolute;
	padding: 3px;
	bottom: 0;
	left: 0;
	font-size: 1.3em;
}

.item-cost {
	position: absolute;
	padding: 1px;
	top: 0;
	right: 0;
}