.component-statistics {
	background-color: #ff71ce;
	padding: 0 10px; /* Store must also match this padding */
	height: 100%;
}

.component-stat {
	font-size: 1.15em;
}

.label {
	font-weight: bold;
}
