.component-statistics {
	background-color: #ff71ce;
	width: 15%;
	padding: 0 14px; /* Store must also match this padding */
	overflow-y: scroll;
}

.component-stat {
	font-size: 1.15em;
}

.label {
	font-weight: bold;
}
