/* TODO: create media queries for store width */
.component-store {
	width: 50%;
	background-color: #fffb96;
	margin-left: 10px;
	display: flex;
	flex-direction: row;
}

.catalog {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	padding: 0 4px;
	width: 100%;
	position: relative;
}

.component-store .title {
	padding: .25em 0 0 6px;
	margin-bottom: 4px;
}

.current-vehicle {
	padding: 0 6px;
	margin-bottom: 0.67em;
}

.upgrades {
	display: flex;
  flex-wrap: wrap;
	position: relative;
}

.next-vehicle {
  font-size: 1.15em;
	font-weight: bold;
	padding: 10px 6px;
}

.description {
	position: sticky;
	width: 30%;
	height: calc(1003px - 10px);
	text-align: center;
	padding: 5px;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,.1);
}