/* TODO: create media queries for store width */
.component-store {
	background-color: #fffb96;
	display: flex;
	flex-direction: row;
	height: calc(100% - 360px);
	width: 100%;
}

.catalog {
	display: flex;
	flex-direction: column;
	padding: 0 4px;
	overflow-y: scroll;
	scrollbar-width: none;
}

.component-store .title {
	padding: .25em 0 0 6px;
	margin-bottom: 4px;
}

.current-vehicle {
	padding: 0 6px;
	margin-bottom: 0.67em;
}

.upgrades {
	display: flex;
  flex-wrap: wrap;
}

.next-vehicle {
  font-size: 1.15em;
	font-weight: bold;
	padding: 10px 6px;
}

.description {
	position: sticky;
	width: 30%;
	height: calc(1003px - 10px);
	text-align: center;
	padding: 5px;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,.1);
}

/* Tooltip Text */
.tooltip {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 6px;
  width: 250px;
  min-height: 50px;
  z-index: 999;
  user-select: none;
}

/* Tooltip Arrow */
.tooltip::after {
  content: " ";
  position: absolute;
  right: -15px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
}

.modifier {
	color: yellow;
}