/* TODO: create media queries for store width */
.component-store {
	width: 25%;
	max-width: 415px;
	background-color: #fffb96;
	padding: 0 4px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.component-store .title {
	padding: .25em 0 0 6px;
	margin-bottom: 4px;
}

.current-vehicle {
	padding: 0 6px;
	margin-bottom: 0.67em;
}

.catalog {
	display: flex;
  flex-wrap: wrap;
	position: relative;
}

.next-vehicle {
  font-size: 1.15em;
	font-weight: bold;
	padding: 10px 6px;
}
